################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testweb/obj/Debug/net8.0/project.razor.vs.bin
